*
{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, tomato, gold);
}

h3
{
    font-size: 5rem;
    display: block;
    color: white;
    padding: 10px;
}